@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Запрос ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    При переходе в <strong>среду разработки</strong> будет отображена более подробная информация о произошедшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений конечным пользователям.
    Для локальной отладки включите среду разработки <strong>, установив для переменной среды ASPNETCORE_ENVIRONMENT</strong> значение <strong>Разработка</strong>
    и перезапустив приложение.
</p>
