@model Rolled_metal_products.Models.OrderHeader

<div class="text-center">

    @if (Model != null)
    {
        <h1 class="text-info"> Созданный заказ</h1>
        <p>Заказ #@Model.Id успешно создан!</p>
    }
    else
    {


        <h1 class="text-info">Подтверждение запроса</h1>

        <p>Мы получили ваш запрос, и кто-нибудь из нашей команды свяжется с вами в ближайшее время!</p>
    }
    <img src="/images/patio.jpg" width="80%" />
</div>