@{
    ViewData["Title"] = "Запросы";
}


<style>
    .dataTables_length {
        margin: 1.5rem 0px 10px 0px;
    }

    .dataTables_length select {
            padding: .6rem 4.5rem .6rem 1.5rem;
            -moz-padding-start: calc(1.5rem - 3px);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.6;
            color: #2d2d2d;
            background-color: #fff;
            background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
            background-repeat: no-repeat;
            background-position: right 1.5rem center;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: 1rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    }

    .dataTables_length select:focus {
        border-color: #9bb1fa;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(55, 99, 244, .25);
    }

    .dataTables_filter {
        margin: 10px 0px 1.5rem 0px;
    }

    .dataTables_filter input{
            padding: .6rem 1.5rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.6;
            color: #2d2d2d;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 1rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            margin-left: 20px;
    }

    .dataTables_filter input:focus {
        border-color: #9bb1fa;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(55, 99, 244, .25);
    }


    .dataTables_info{
        text-align: end;
    }

    .dataTables_paginate{
  
    }

   .paginate_button.previous{
        
   }

    .paginate_button.next {
    }


    .paginate_button {
        padding: 10px;
        box-shadow: 0 .5rem 1rem rgba(55, 99, 244, .15) !important;
        border-radius: 10px;
        margin-right:5px;
        cursor:pointer;
    }

    .paginate_button.current {
        color: white;
        background:#0366d6;
    }
</style>


<div class="container p-3" style="min-height: 650px; position: relative;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary fw-bold">Запросы</h2>
        </div>
    </div>
    <div class="table-block-responsive">
        <div style="margin-bottom:20px">
            <table id="tblData" class="table table-borderless table-striped table-hover table-reflow shadow" style="margin-bottom: 0px;">
                <thead class="thead-dark">
                    <tr class="table-dark">
                        <th>Id</th>
                        <th>Имя</th>
                        <th>Номер телефона</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section Scripts{ 
    <script src="~/js/inquiry.js"></script>
}