@model Rolled_metal_products.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <select id="categoryFilter" class="form-control">
                <option value="all">Все</option>
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Name.Replace(' ', '_')">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <partial name="_IndividualProductCard" model="item" />
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#categoryFilter").change(function () {
                var value = $(this).val();
                if (value == "all") {
                    $('.filter').show('1000');
                } else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show("3000");
                }
            });
        });
    </script>
}