@model Rolled_metal_products.Models.OrderHeader

<div class="text-center">
    @if (Model != null)
    {
        <h1 class="text-info">Заказ создан</h1>
        <p>Заказ @Model.Id был успешно создан!</p>
    }
    else
    {
        <h1 class="text-info">Подтверждение запроса</h1>
        <p>Мы получили ваш запрос, и кто-то из нашей команды свяжется с вами в ближайшее время!</p>
    }
</div>