/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
    
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('/images/dust_scratches.png');
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}






.port-image {
  width: 100%;
}

.col-md-3 {
  margin-bottom: 20px;
}

.each-item {
  position: relative;
  overflow: hidden;
}

  .each-item:hover .cap2, .each-item:hover .cap1 {
    left: 0px;
  }

.cap1 {
  position: absolute;
  width: 100%;
  height: 70%;
  background: rgba(255, 255, 255, 0.5);
  top: 0px;
  left: -100%;
  padding: 10px;
  transition: all .5s;
}

.cap2 {
  position: absolute;
  width: 100%;
  height: 30%;
  background: rgba(0, 178, 255, 0.5);
  bottom: 0px;
  left: 100%;
  padding: 10px;
  transition: all .5s;
}




.boxContainer {
  display: table;
}

.box {
  width: 200px;
  height: 200px;
  background: #0088cc;
  padding: 2%;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

#header {
  position: relative;
  min-height: 150px;
}

#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}



#logreg-forms {
  width: 412px;
  margin: 10vh auto;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

  #logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
  }

  #logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

    #logreg-forms .form-control:focus {
      z-index: 2;
    }

  #logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  #logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  #logreg-forms .social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
  }

  #logreg-forms a {
    display: block;
    padding-top: 10px;
    color: lightseagreen;
  }

#logreg-form .lines {
  width: 200px;
  border: 1px solid red;
}


#logreg-forms button[type="submit"] {
  margin-top: 10px;
}

.facebook-btn {
  background-color: #3C589C;
  color: white;
}


#logreg-forms .form-reset, #logreg-forms .form-signup {
  display: none;
}

  #logreg-forms .form-signup .social-btn {
    width: 210px;
  }

  #logreg-forms .form-signup input {
    margin-bottom: 2px;
  }

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}


/* Скрыть фильтры на мобильных устройствах */
@media (max-width: 767.98px) {
    .filter-sidebar {
        /*display: none;*/
        position: fixed;
        top: 0;
        left: -100%; /* Начальная позиция за пределами экрана слева */
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 1050;
        transition: left 0.3s ease-in-out; /* Анимация для плавного выдвижения */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    }

        .filter-sidebar.active {
            left: 0; /* Когда активен, занимает весь экран */
            /* display: block;*/ /* Убедитесь, что боковая панель отображается, когда активна */
        }

        .filter-sidebar.active {
            left: 0; /* Когда активен, занимает весь экран */
        }

        .filter-sidebar .card {
            height: 100%; /* Занимает всю высоту экрана */
            display: flex;
            flex-direction: column;
        }

        .filter-sidebar .card-body {
            flex: 1;
            overflow-y: auto; /* Добавляем прокрутку, если контент превышает высоту */
        }

        .filter-sidebar .btn-primary {
            margin-top: auto; /* Размещаем кнопку внизу */
            width: 100%;
        }
}


@media (max-width: 990px) {
    .sidebar-categories {
        display: none;
    }

    .row-cols-sm-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .row-cols-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    .catalog-item-body {
        display: none;
    }
}




.main-section {
    margin-bottom:310px;
}

@media (max-width: 575px) {
    .main-section {
        margin-bottom: 570px;
    }
}


.btn-text {
    display:contents;
}

@media (max-width: 500px) {
    .btn-text {
        display: none;
    }
}











.category-col {
    min-height:80px;
}

@media (max-width: 500px) {
    .category-col {
        min-height: 50px;
    }

    .main-parent-category {
        
    }
}


@media (max-width: 500px) {
    .table-block-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}




#cart-link {
    position: relative;
}

#cart-count {
    min-width: 16px;
    height: 16px;
    padding: 2px 0px 1px 0px;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 38px;
    background: var(--bs-primary);
    color: white;
}


@media (max-width: 500px) {
    #cart-count {
        left: 18px;
    }
}




.banner {
    margin-top: -3rem !important;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    -webkit-box-shadow: 0px 9px 20px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 9px 20px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 9px 20px -3px rgba(34, 60, 80, 0.2);
}

    .banner h2 {
        font-weight: 600;
    }

    .banner h4 {
        font-weight: 700;
    }

    .banner p {
        font-weight: 700;
    }

    .banner .container {
        position: relative;
        z-index: 2;
    }

        .banner .container input {
            background: rgba(255, 255, 255, .3);
            border: none;
            color: white;
        }

            .banner .container input:focus,
            .banner .container input:active {
                border: none;
                box-shadow: none;
            }

            .banner .container input::placeholder {
                color: #ced1d5;
            }

        .banner .container button {
            background-color: rgb(55,99,244,0.8); /* Прозрачный фон */
            color: white; /* Непрозрачный текст */
            border-radius: 15px;
            font-size: 14px;
            font-weight: 600;
            border: none;
        }

            .banner .container button:hover,
            .banner .container button:active {
                background-color: rgb(55,99,244, 1); /* Прозрачный фон */
            }

    .banner::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
        z-index: 1;
    }

.contact-info {
    padding: 10px;
    border-radius: 5px;
}

.align-items-end {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 767.98px) {
    .banner .container form {
        flex-direction: column;
        align-items: center;
    }

    .banner .container input,
    .banner .container button {
        width: 80%;
        margin-bottom: 10px;
    }

    .banner .container button {
        margin-bottom: 0;
    }

    .banner .row {
        flex-direction: column;
    }

    .banner .container .form-title {
        text-align: center;
    }

    .contact-info {
        text-align: center;
    }
}ы